doctype html 
html
  head
    title= title
  body
    h1= message
    form(action='/login')
      input(type='submit' value='login')

    form(action='/searchArtists')
      input(type='submit' value='search artists')

    form(action='/searchTracks')
      input(type='submit' value='search tracks')