doctype html
html
  head
    title= title
  body
    h1= message
    form(action='/login')
      input(type='submit' value='login')

    form(action='/search')
      input(type="text")
      input(type='submit' value='search')
