doctype html
html
  head
    title= title
  body
    h1= message
    form(action='/auth/spotify')
      input(type='submit' value='login')

    form(action='/search')
      input(type='search' name="track")
      input(type='submit')
