doctype html 
html
  head
  body
    form(action='/searchTracks')
      input(type='submit' value='search tracks')
    form(action='/searchArtists')
      input(type='submit' value='search artists')



